{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% comment %} {% load bootstrap4 %}  {% endcomment %}
{% block title %} <title>Обратная связь</title> {% endblock %}

{% block content %}
  <div class="header_text">
    <h4>ОБРАТНАЯ СВЯЗЬ</h4>
  </div>
    <div class="section-contact">

<div class="card card-contact">
        <div class="card-body">
<form action="{% url 'contact' %}" method="post" novalidate>
{% csrf_token %}
{{ form|crispy }}
	<input type="submit" class="btn btn-success" value="Отправить сообщение"/> 
</form>
</div>
</div>
    </div>
{% endblock %}