{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} <title>Профиль</title> {% endblock %}
{% block content %}
<div class="header_text">
    <h4>ВАШ ПРОФИЛЬ</h4>
</div>
    <div class="section-profile">
    <div class="card card-profile">
        <div class="card-body">
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
            {{ message }}
            </div>
        {% endfor %}
    {% endif %}
        <div class="profile_info">
      <div class="media">
    <img class="rounded account-img" src="{{ user.profile.image.url }}" width=100 height=100>
        <div class="media-body">
          <h5 class="account-heading">{{ user.username }}</h5>
          <p class="text-secondary">{{ user.email }}</p>
        </div> 
      </div>
      </div>
{% comment %} <div class="card card-contact">
        <div class="card-body"> {% endcomment %}
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
    <legend class="border-bottom mb-4">Редактировать профиль</legend>
{{ u_form|crispy }}
{{ p_form|crispy }}
	<input type="submit" class="btn btn-success" value="Обновить"/>
</form>
</div>
</div>
 </div>
{% endblock %}